.projects-list {
  width: 100%;
}
.projects-list__project {
  margin-top: 100px;
}
.projects-list__project__desc {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 200px;
}
.projects-list__project__img {
  width: 300px;
  height: 200px;
}
@media only screen and (max-width: 700px) {
  .projects-list__project--left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media only screen and (min-width: 701px) and (max-width: 1024px) {
  .projects-list__project--left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media only screen and (min-width: 1025px) {
  .projects-list__project--left {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }
}
@media only screen and (max-width: 700px) {
  .projects-list__project--right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media only screen and (min-width: 701px) and (max-width: 1024px) {
  .projects-list__project--right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media only screen and (min-width: 1025px) {
  .projects-list__project--right {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: flex-start;
  }
}
.projects-list__project p {
  margin: 20px;
}
