.projects-list {
  width: 100%;
}
.projects-list__project {
  margin-top: 100px;
}
.projects-list__project--left {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
.projects-list__project--right {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: flex-start;
}
.projects-list__project p {
  margin: 20px 0 0 20px;
}

.projects-list img {
  width: 300px;
}
