@use "./modules/media.scss";
@use "./modules/mixins.scss";

.projects-list {
    width: 100%;
    // overflow: auto;

    &__project {
        margin-top: 100px;

        &__desc {
            @include mixins.flex(column, space-evenly);
            height: 200px;
        }

        &__img {
            width: 300px;
            height: 200px;
        }

        &--left {
            @include media.phone {
                @include mixins.flex(column, space-evenly);
            }
            @include media.tablet {
                @include mixins.flex(column, space-evenly);
            }
            @include media.computer {
                @include mixins.flex(row, space-evenly, flex-start);
            }
        }

        &--right {
            @include media.phone {
                @include mixins.flex(column, space-evenly);
            }
            @include media.tablet {
                @include mixins.flex(column, space-evenly);
            }
            @include media.computer {
                @include mixins.flex(row-reverse, space-evenly, flex-start);
            }
        }

        & p {
            margin: 20px;
        }
    }
}
